[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
PyMySQL = "*"
"Flask-Bootstrap4" = "*"
gunicorn = "*"
requests = "*"
Flask-SQLAlchemy = "*"
pycryptodome = "*"
gevent = "*"


[dev-packages]

neovim = "*"
jedi = "*"
