[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
pymysql = "*"
"flask-bootstrap4" = "*"
gunicorn = "*"
requests = "*"
flask-sqlalchemy = "*"
pycryptodome = "*"


[dev-packages]

neovim = "*"
jedi = "*"
