{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block html_attribs %} lang="zh-CN"{% endblock %}
{% block title %} Ika institute{% endblock %}

{% block navbar %}
<nav class="nav navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ika Institute</a>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/ika">Ika</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}
